requests~=2.32.3
aiogram~=2.25.2
yookassa~=3.5.0
psycopg2~=2.9.10
pip~=25.0.1
emoji~=2.14.0
attrs~=25.1.0
distro~=1.9.0
wheel~=0.41.3
PySocks~=1.7.1
protobuf~=3.19.6
cryptography~=44.0.3
pillow~=11.2.1
Jinja2~=3.1.6
keyring~=25.5.0
packaging~=24.2
pyparsing~=3.2.0
matplotlib~=3.9.3
future~=1.0.0
dotenv~=0.9.9
python-dotenv~=1.1.0
aiosqlite~=0.21.0